.buttons-container
{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .employee {
    background-color: wheat;
    box-shadow: 0 0 5px 1px black;
    border-radius: 5px;
    min-width: 300px;
    padding: 10px;

    span {
      color: red;
    }
  }

  .edit-menu{
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
}
