<div class="main-container">

  <div class="button-container">
    <button class="btn btn-{{current==='register'? 'primary' : 'secondary'}}"
      (click)="current='register'">{{editUserService.isEditing? 'Edit' : 'Register'}}</button>
    <button class="btn btn-{{current==='list'? 'primary' : 'secondary'}}" (click)="current='list'">List</button>
  </div>

  <app-register *ngIf="current === 'register'" [isEditing]="editUserService.isEditing"></app-register>
  <app-list *ngIf="current === 'list'" (userEditClick)="onUserEditClicked($event)"></app-list>
</div>