.main-container {
  display: flex;
  gap: 50px;
  flex-direction: column;

  a {
    cursor: pointer;
    user-select: none;
  }
  
  > .button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}
