<button class="btn btn-primary" (click)="addNewCurrency()">add new</button>

<form [formGroup]="formGroup">
  <div class="container">

    <div formArrayName="froms">
      <div *ngFor="let inputForm of froms.controls; let i=index">
        <div [formGroupName]="i">
          <select formControlName="currency" class="form-control">
            <option *ngFor="let currency of currencies">{{currency}}</option>
          </select>

          <input formControlName="input" type="number" class="form-control" placeholder="0.00">
        </div>
      </div>
    </div>

    <div formGroupName="to">
      <select formControlName="currency" class="form-control">
        <option *ngFor="let currency of currencies">{{currency}}</option>
      </select>

      <input formControlName="input" type="number" class="form-control" placeholder="0.00">
    </div>

  </div>
</form>