<div class="main-container">
  <div class="user" *ngFor="let user of usersService.users" (click)="onUserClicked(user)">
    <div class="user-info">
      <div>Nickname:</div>
      <div>{{user.nickname}}</div>

      <div>Email:</div>
      <div>{{user.email}}</div>

      <div>Phone number:</div>
      <div>{{user.phoneNumber}}</div>

      <div>Website:</div>
      <div>{{user.website}}</div>
    </div>

    <div *ngIf="getUserMenuOpacity(user)" class="edit-menu">
      <button class="btn btn-dark" (click)="onUserEditClicked(user)">
        <i class="fas fa-user-edit"></i>
      </button>

      <button class="btn btn-danger" (click)="onUserDeleteClicked(user)">
        <i class="fas fa-user-slash"></i>
      </button>
    </div>
  </div>
</div>

<app-confirm-popup *ngIf="isPopupOn" (cancelClicked)="onCancelClicked()" (confirmClicked)="onConfirmClicked()">
  <div class="text-light">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores minima quaerat incidunt esse deserunt distinctio
    dolore minus. Repudiandae expedita doloribus earum ipsam explicabo? Inventore harum animi officia odio. Eius,
    doloribus.
  </div>
</app-confirm-popup>