<app-loading-circle *ngIf="isLoading"></app-loading-circle>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name:</label>
    <input formControlName="name" id="name" type="text" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="salary"> Salary:</label>
    <input formControlName="salary" id="salary" type="number" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="age">Age:</label>
    <input formControlName="age" id="age" type="number" class="form-control" required>
  </div>

  <button class="btn btn-dark" [disabled]="form.invalid"><i class="fas fa-user-plus"></i> Register</button>
</form>