:host {
  display: block;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  > form {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
  }
}
