<div class="main-container">
  <div class="buttons-container">
    <button class="btn btn-{{currentComponent ==='register'? 'primary' : 'secondary'}}"
      (click)="currentComponent='register'">Register</button>
    <button class="btn btn-{{currentComponent ==='update'? 'primary' : 'secondary'}}"
      (click)="currentComponent='update'">Update</button>
    <button class="btn btn-{{currentComponent ==='employees'? 'primary' : 'secondary'}}"
      (click)="currentComponent='employees'">Employees</button>
  </div>
  
  <app-register *ngIf="currentComponent==='register'"></app-register>
  <app-update *ngIf="currentComponent==='update'"></app-update>
  <app-list *ngIf="currentComponent==='employees'"></app-list>
</div>