<nav class="nav">
  <a class="nav-link" (click)="currentComponent='register'" editingEmployee=undefined;>Register</a>
  <a class="nav-link" (click)="currentComponent='update'">Update</a>
  <a class="nav-link" (click)="currentComponent='employees'; editingEmployee=undefined;">Employees</a>
</nav>

<div class="main-container">
  <app-register *ngIf="currentComponent==='register'"></app-register>
  <app-update *ngIf="currentComponent==='update'" [editingEmployee]="editingEmployee"></app-update>
  <app-list *ngIf="currentComponent==='employees'" (editClicked)="onEditClick($event)"></app-list>
</div>