<div class="header">
  <nav>
    <a routerLink="/users-component" routerLinkActive="active" class="btn btn-primary">
      USERS
    </a>

    <a routerLink="/currency-component" routerLinkActive="active" class="btn btn-primary">
      CURRENCY
    </a>

    <a routerLink="/employees-component" routerLinkActive="active" class="btn btn-primary">
      EMPLOYEES
    </a>
  </nav>
</div>

<router-outlet></router-outlet>

<!-- <div class="button-container">
    <button class="btn btn-{{current==='users-managment'? 'primary' : 'secondary'}}"
      (click)="current='users-managment'">
      Users Managment
    </button>

    <button class="btn btn-{{current==='currency-converter'? 'primary' : 'secondary'}}"
      (click)="current='currency-converter'">
      Currency Exchanger
    </button>

    <button class="btn btn-{{current==='employees'? 'primary' : 'secondary'}}" (click)="current='employees'">
      Employees
    </button>
  </div>

  <app-forms *ngIf="current === 'users-managment'">
  </app-forms>

  <app-currency-converter *ngIf="current === 'currency-converter'">
  </app-currency-converter>

  <app-employees *ngIf="current === 'employees'"></app-employees>
</div> -->