<div class="main">
  <nav class="header navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
      <i class="fab fa-angular"></i>
      <span>ngular</span>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <a [class.disabled]="!isLoggedIn" class="nav-item nav-link" routerLink="/users" routerLinkActive="active"><i
            class="fas fa-users"></i>
          Users</a>
        <a class="nav-item nav-link" routerLink="/currency" routerLinkActive="active"><i class="fas fa-coins"></i>
          Currency</a>
        <a class="nav-item nav-link" routerLink="/employees" routerLinkActive="active"><i
            class="fas fa-user-friends"></i>
          Employees</a>
        <a class="nav-item nav-link disabled" href="/"><i class="fas fa-snowplow"></i> Coming Soon...</a>
      </div>
    </div>

    <div class="header-right-container">
      <span *ngIf="isLoggedIn" class="text-white"><i class="fas fa-user"></i> {{loggedInUserName}}</span>
      <button *ngIf="isLoggedIn" (click)="signOutClicked()" class="btn btn-light"><i
          class="fas fa-sign-out-alt"></i>Sign out</button>
      <button *ngIf="!isLoggedIn" (click)="logInClicked()" class="btn btn-light"><i class="fas fa-sign-in-alt"></i> Log
        in </button>
    </div>
  </nav>

  <div class="body" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

  <div class="text-center text-white p-3 bg-dark">
    © 2021 Angular All Rights Reserved
  </div>
</div>