.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;

  .buttons-container {
    display: flex;
    gap: 10px;
  }

  .forms-container {
    display: flex;
    justify-content: center;
    gap: 50px;

    .froms-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .currency-input-container {
      display: flex;
      gap: 10px;

      > select {
        border: none;
        width: 100px;
        -webkit-appearance: none;
      }
    }
  }
}
