.forms-container {
  display: flex;
  justify-content: center;
  gap: 50px;

  .currency-input-container {
    display: flex;
    gap: 10px;

    > select {
      border: none;
      width: 100px;
    }
  }
}
