<form [formGroup]='formGet'>
  <label>
    ID:
    <input formControlName="id" type="text" class="form-control">
  </label>
 
  <div class="buttons-container">
    <button type="submit" class="btn btn-primary" [disabled]='formGet.invalid' (click)="onGetClicked()">GET</button>
    <button type="submit" class="btn btn-danger" [disabled]='formGet.invalid' (click)="onDeleteClicked()">DELETE</button>
  </div>

  <ng-container *ngIf="currentlyUpdatingID !== ''">
    <form [formGroup]="formUpdate" (ngSubmit)="onUpdateClicked()">
      <label>
        Name:
        <input formControlName="name" type="text" class="form-control" required>
      </label>
    
      <label>
        Salary:
        <input formControlName="salary" type="number" class="form-control" required>
      </label>
    
      <label>
        Age:
        <input formControlName="age" type="number" class="form-control" required>
      </label>
    
      <button class="btn btn-primary" [disabled]="formUpdate.invalid">Update</button>
    </form>
  </ng-container>
</form>