<form [formGroup]="formGroup" (submit)="onSubmit()">
  <div class="center">
    <div class="container">

      <label for="email">E-mail:</label>
      <div>
        <input formControlName="email" id="email" type="email" placeholder="E-mail">
        <div [style.opacity]="getAlertOpacity('email')" class="invalid-alert">Email is not valid</div>
      </div>

      <ng-container formGroupName="passwordGroup">
        <label for="password">Password:</label>
        <div>
          <input formControlName="password" id="password" type="password" placeholder="Password">
          <div [style.opacity]="getAlertOpacity('password', ['passwordGroup'])" class="invalid-alert">Password is not
            valid</div>
        </div>

        <label for="confirm-password">Confirm Password:</label>
        <div>
          <input formControlName="confirmPassword" id="confirm-password" type="password" placeholder="Confirm Password">
          <div [style.opacity]="getAlertOpacity('passwordGroup')" class="invalid-alert">Password did not match</div>
        </div>
      </ng-container>

      <label for="nickname">Nickname:</label>
      <div>
        <input formControlName="nickname" id="nickname" type="text" placeholder="Nickname">
        <div [style.opacity]="getAlertOpacity('nickname')" class="invalid-alert">Nickname is not valid</div>
      </div>

      <label for="phone-number">Phone Number:</label>
      <div>
        <input formControlName="phoneNumber" id="phone-number" type="tel" placeholder="Phone Number">
        <div [style.opacity]="getAlertOpacity('phoneNumber')" class="invalid-alert">Phone number is not valid</div>
      </div>

      <label for="website">Website:</label>
      <div>
        <input formControlName="website" id="website" type="url" placeholder="Website">
        <div [style.opacity]="getAlertOpacity('website')" class="invalid-alert">Website is not valid</div>
      </div>

      <div></div>
      <div class="agreement">
        <input formControlName="agreement" id="agreement" type="checkbox" required>
        <label for="agreement">&nbsp;I have read the <a href="">agreement</a></label>
        <div [style.opacity]="getAlertOpacity('agreement')" class="invalid-alert">You must agree to the agreement</div>
      </div>

      <div></div>
      <!-- <button [disabled]="!formGroup.valid" type="submit">Register</button> -->
      <button type="submit">Register</button>
    </div>
  </div>
</form>