$input-height: 35px;
$agreement-height: 25px;

$alert-background-color: beige;

.center {
  display: flex;
  justify-content: center;

  > .container {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 33px;
    column-gap: 10px;
    align-items: center;
    text-align: end;
    max-width: 750px;

    > label {
      margin: 0;
      justify-self: end;
      font-weight: 700;

      > span {
        color: red;
      }
    }

    > div {
      position: relative;

      > input {
        width: 100%;
        height: 35px;
        border: 1.75px solid rgba(128, 128, 128, 0.25);
        border-radius: 5px;
        padding: 0 10px;
      }

      > .invalid-alert {
        transition: all 0.5s ease;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        padding: 10px;
        top: $input-height;
        height: 35px;
        background-color: white;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        white-space: nowrap;
        background-color: $alert-background-color;
        color: firebrick;

        &:before {
          position: absolute;
          content: "";
          left: 5px;
          top: -12px;
          border: 6px solid transparent;
          border-color: transparent transparent $alert-background-color transparent;
        }
      }
    }

    > .agreement {
      justify-self: start;

      > input {
        all: revert;
        height: 15px;
        width: 15px;
        margin-left: -2px;
      }

      > label {
        > a {
          font-weight: 700;
        }
      }

      > .invalid-alert {
        top: $agreement-height;
      }
    }

    > button {
      justify-self: start;
      color: white;
      border: none;
      letter-spacing: 1px;
      width: 90px;
      height: 35px;
      font-size: 14px;
    }

    > button:disabled,
    > button[disabled] {
      background-color: gray;
    }
  }
}
